body{
    text-align:center;
    background-color: rgba(51, 50, 49, 0.336);
}
#header_div{
    background-color: rgba(62, 64, 173, 0.281);
    padding-top:10px;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}
img{
    width:500px;
    height:300px;
}
.copy_right_footer{
margin-top: 400px;
background-color: rgba(121, 72, 44, 0.267);
}